/Padroes proj/out/production/Padroes proj/aula2/Conta.class
/Padroes proj/out/production/Padroes proj/aula2/ContaApp.class
/Padroes proj/.idea/misc.xml
/Padroes proj/aula2/.idea/misc.xml
/Padroes proj/.idea/modules.xml
/Padroes proj/Padroes proj.iml
/Padroes proj/.idea/vcs.xml
/Padroes proj/aula2/.idea/vcs.xml
/Padroes proj/aula2/.idea/workspace.xml